body {
	padding: 0;
	margin-left: 0;
	overflow-y: auto;	/* 防止右侧产生两个滚动条 */
}

.full-wrap {
	position: relative;
	margin-left: 0px;
	min-height: 500px;
	overflow-y: hidden;
	overflow-x: hidden;
	width: 100%;
	max-width: 1300px;
	padding-left: 0px;
	text-align: left;
}

.main {
	/*margin-left: 350px;*/
	/*width: 65%;*/
	padding-top: 50px;
	padding-right: 20px;
	height: 100vh;
	overflow-y: auto;
	/*float: left;*/
}

.main .markdown-body {
	overflow-x: auto;
	padding-bottom: 100px;
}

.markdown-body ul {
	list-style: disc;
}

/*@media (max-width: 900px) {
	.main {
		margin-left: 300px;
	}
}*/


/* sidebar */


.sidebar {
	/*width: 25%;*/
	/*min-width: 280px;*/
	/*max-width: 320px;*/
	float: left;
	background-color: #68707f;
	color: #fff;
	top: 0px;
	bottom: 0px;
	overflow-y: auto;
	height: 100vh;
	padding-top: 10px;
}

.sidebar a {
	color: #fff;
	text-decoration: none;
}

.sidebar::-webkit-scrollbar {
  width: 5px;
	margin-right: 3px;
  -webkit-appearance: none;
}

.sidebar::-webkit-scrollbar-track {
  display: none;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: rgba(19,21,24,0.5);
}

.sidebar .inner {
	padding-bottom:100px;
	margin-right: -20px;
}

.nav li.sidebar-header-1 { 
	font-size: 18px;
	padding-left: 35px;
}

.nav .sidebar-header-1.submenu {
	padding-left: 15px;
}

.nav li.sidebar-header-2 { 
	font-size: 16px;
	padding-left: 55px;
	line-height: 35px;
}

.nav .sidebar-header-2.submenu {
	padding-left: 35px;
}

.nav li.sidebar-header-3 { 
	padding-left: 65px; 
	line-height: 30px;
}
.nav .sidebar-header-4 { 
	padding-left: 75px; 
}
.nav .sidebar-header-5 { 
	padding-left: 85px; 
}

.sidebar ol, .sidebar ul {
	list-style: none;
}

.nav li,
.sidebar li {
	line-height: 42px;
	box-sizing: border-box;
	padding-right: 10px;
}

.sidebar .nav {
	padding-left: 0;
}

.sidebar .nav li a {
	padding: 5px 5px;
	display: inline;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
}

#mobile-nav li a {
	padding: 5px 5px;
	display: inline;
}

.sidebar .nav li.active:not(.plus) {
	/*font-weight: 900;*/
	/*font-size: 1.1em;*/
	/*text-decoration: underline;*/
	color: #66666b;
	background-color: #fff;
	border-left-color: #65a7eb;
	border-left-width: 3px;
	border-left-style: solid;
	margin-left:-1px;
}

.sidebar .nav li.active a.plus, 
.sidebar .nav li:hover a.plus, 
.sidebar .nav li a.plus:hover,
.sidebar .nav li a.plus:focus {
	text-decoration: none;
	background-color: transparent;
	color: #65a7eb;
}

.sidebar .nav li.new:after {
	content: url('../img/doc_new_tag.png');
	float: right;
	margin-right: 5px;
	margin-top:4px;
}

.sidebar .nav li.active a {
	color: #66666b;
}

.sidebar .nav li:hover {
	color: #66666b;
	background-color: #fff;
	border-left-color: #65a7eb;
	border-left-width: 3px;
	border-left-style: solid;
	margin-left:-1px;
}

.sidebar .nav li:hover a {
	color: #66666b;
	background-color: transparent;
}

.bubble {
	position:fixed;
	z-index:10;
	margin-top: 0px;
	background: #343435;
	width: inherit;
}

.bubble li {
	display: inline-block !important;
}

.bubble.nav>li>a:hover, .bubble.nav>li>a:focus {
	color: #fdb92c;
	background-color: #337ab7;
}

.bubble li a {
	color: #EEE;
}

#mobile-nav {
	margin-top: -50px;
	margin-left: 25px;
}

#mobile-nav li.active {
	font-weight: 900;
	font-size: 1.1em;
	text-decoration: underline;
}

.new-item {
	color: #f1da36;
	text-shadow: 1px 1px 1px #555;
}

.doc-index {
	margin-top: 20px;
	margin-left: 20px;
}

/*search input */

.algolia-autocomplete {
	margin-top: 2px;
  width: 100%;
}
.algolia-autocomplete .aa-input, .algolia-autocomplete .aa-hint {
  width: 100%;
  min-height: 30px;
  text-indent: 10px;
}
.algolia-autocomplete .aa-hint {
  color: #999;
}
.algolia-autocomplete .aa-dropdown-menu {
  width: 100%;
  background-color: #fff;
  border: 1px solid #999;
  border-top: none;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
  cursor: pointer;
  padding: 5px 4px;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
  background-color: #B2D7FF;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
  font-weight: bold;
  font-style: normal;
}